@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.wrapper {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-size: 0.875rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  line-height: 1;
  font-weight: 600;
  vertical-align: middle;

  &:disabled {
    filter: brightness(80%);
    cursor: not-allowed;
  }
}

.primary {
  color: $white;
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
  &:active {
    background: $primary-active;
  }
}

.secondary {
  color: $black;
  background: $secondary;
  &:hover {
    background: $secondary-hover;
  }
  &:active {
    background: $secondary-active;
  }
}

.round {
  border-radius: 0.25rem;
}

.transition {
  @include transition;
}
