/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.module.scss                                  :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jaeskim <jaeskim@student.42seoul.kr>       +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/02/12 17:51:29 by jaeskim           #+#    #+#             */
/*   Updated: 2021/02/14 17:32:56 by jaeskim          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.wrapper {
  outline: none;
  border: none;
  box-sizing: border-box;
  @include text-md;
  @include font-bold;
  padding: 0.5rem 1rem;
  color: $black;
  vertical-align: middle;
  cursor: pointer;

  &:disabled {
    filter: brightness(80%);
    cursor: not-allowed;
  }
}

.primary {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
  &:active {
    background: $primary-active;
  }
  &:disabled {
    background: $primary;
  }
}

.secondary {
  background: $secondary;
  &:hover {
    background: $secondary-hover;
  }
  &:active {
    background: $secondary-active;
  }
  &:disabled {
    background: $secondary;
  }
}

.transparent {
  color: $white;
  background: none;
}

.transition {
  @include transition;
}
