/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.module.scss                                  :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jaeskim <jaeskim@student.42seoul.kr>       +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/02/12 21:36:15 by jaeskim           #+#    #+#             */
/*   Updated: 2021/02/14 17:35:15 by jaeskim          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.wrapper {
  outline: none;
  border: none;
  box-sizing: border-box;
  @include text-lg;
  @include font-bold;
  text-decoration: unset;
  padding: 0.5rem 1rem;
  margin: auto 0;
  color: white;
  vertical-align: middle;
  @include transition;

  &:disabled {
    filter: brightness(80%);
    cursor: not-allowed;
  }
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
  &:active {
    color: $primary-active;
    text-decoration: underline;
  }
}

.active {
  color: $primary;
  text-decoration: underline;
}
