$primary: #00babc;
$primary-hover: #00dde0;
$primary-active: #00787a;

$secondary: #ffffff;
$secondary-hover: #e0e0e0;
$secondary-active: #7a7a7a;

$white: #ffffff;
$black: #000000;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
