/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.module.scss                                  :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jaeskim <jaeskim@student.42seoul.kr>       +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/02/13 12:41:12 by jaeskim           #+#    #+#             */
/*   Updated: 2021/02/13 16:14:17 by jaeskim          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.wrapper {
  padding: 1rem 1rem;
  color: $white;
  background: $cover;
}

.round {
  border-radius: 0.25rem;
}
