@import "~normalize-scss/sass/normalize";
@include normalize();

@import "./styles/variables.scss";
@import "./styles/mixin.scss";

html {
  background: $black;
  @include font-sans;
  font-size: 14px;
}

.App {
  color: $white;
  @include mobile {
    margin-top: 4rem;
  }
  @include tablet {
    margin-top: 3rem;
  }
  @include desktop {
    margin-top: 3.5rem;
  }
}
