/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.module.scss                                  :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jaeskim <jaeskim@student.42seoul.kr>       +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2021/02/12 17:51:38 by jaeskim           #+#    #+#             */
/*   Updated: 2021/02/14 18:29:39 by jaeskim          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  background: rgba(0, 0, 0, 0.1);
  color: $white;
  display: flex;
  padding-left: 3rem;
  @include mobile {
    height: 5rem;
    padding-left: 0rem;
  }
  @include tablet {
    height: 3rem;
  }
  @include desktop {
    height: 3.5rem;
  }
}

.logo {
  height: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.loginButton {
  color: $black;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  @include mobile {
    font-size: 1rem;
  }
  img {
    height: 1.5rem;
    box-sizing: border-box;
    margin-right: 0.125rem;
  }
}
